[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/devopstoolsteam
[access "refs/for/refs/*"]
	read = group user/devopstoolsteam
	push = group user/devopstoolsteam
	label-Code-Review = -2..+2 group user/devopstoolsteam
	label-Verified = -1..+1 group user/devopstoolsteam
	rebase = group user/devopstoolsteam
	removeReviewer = group user/devopstoolsteam
	submit = group user/devopstoolsteam
[access "refs/heads/*"]
	read = group user/devopstoolsteam
	create = group user/devopstoolsteam
	push = +force group user/devopstoolsteam
	pushMerge = group user/devopstoolsteam
[access "refs/tags/*"]
	push = group user/devopstoolsteam
	push = +force group user/devopstoolsteam
